body{
	font-size: 15px;
	color:#333;

}
a {
    color: #333;
    text-decoration: none;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #333;
    font-weight: bold;
    font-size: 15px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #0a0a0a;
    background-color: transparent;
}
.container-fluid.bg {
    background: red;
    overflow: hidden;
}

ul.nav.navbar-nav.pull-right.styles-nav {
    margin-top: 10px;
    font-weight: bold;
}


.container-fluid.well.readcolor {
    background: #ff0000e0;
}
ul.nav.navbar-nav.pull-right.styles-nav li a {
    color: #fff;
}
ul.nav.navbar-nav.pull-right.styles-nav li a:hover{
    color:none;
    background: none;
}